{% extends "movieapp/base.html" %}
{% load static %} 
{% block content %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> -->

<section class="container text-center">


  <h3>Welcome</h3>
 

  <hr> <br>
  <h4>This is my movie app</h4>
  <h1 class="btn btn-light p-3 "><a href="/movielist/">Movie List</a></h1>
  <h1 class="btn btn-light "><a href="/search/">Movie Search</a></h1> <br>
  <h1 class="btn btn-light"><a href="/profile/">Profile Details</a></h1>
 



</section>
{% endblock content %}
{% endblock content %}

    



